name: Manual Terraform Destroy

on:
  workflow_dispatch:

jobs:
# --- Destroy ---
  destroy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init -backend-config="bucket=${{ secrets.S3_STATE_BUCKET }}" -backend-config="region=${{ secrets.AWS_REGION }}"
        working-directory: ./terraform
        
      - name: Terraform Destroy
        run: terraform destroy -auto-approve
        working-directory: ./terraform
